:root {
    --background-up-height: 10vh;
    --main-left-width: 400px;
    --row-main-height: 80px;
    --row-write-message: 50px;
    --size-round-img: 50px;
    --notification-color: #8edafc;
}

/* UTILITY */
.round-img {
    height: var(--size-round-img);
    width: var(--size-round-img);
    border-radius: 50%;
    margin: 0 20px;
    background-color: white;
}

.text-gray {
    color: #b1b1b1;
}

.bg-gray {
    background-color: #eaeaea;
}

.font-size-small {
    font-size: 0.9rem;
}





/* BACKGROUND */
#background-up {
    height: var(--background-up-height);
    width: 100%;
    background-color: #009688;
}

#background-down {
    height: calc(100vh - var(--background-up-height));
    width: 100%;
    background-color: #dadbd4;
}

/* MAIN */
main {
    position: absolute;
    height: 95%;
    width: 80%;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

/* MAIN LEFT */
#main-left {
    width: var(--main-left-width);
    height: 100%;

    display: flex;
    flex-direction: column;
}

#main-left header{
    width: 100%;
    height: var(--row-main-height);
}

#notification{
    width: 100%;
    height: var(--row-main-height);
    background-color: var(--notification-color);
}

#notification i{
    color: var(--notification-color);
}

#notification a{
    color: black;
}

#search{
    width: 100%;
    height: 50px;
}

#search-bar {
    width: 80%;
    height: 60%;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
}


#contacts-list{
    width: 100%;
    height: 100%;
    background-color: white;
}

/* Contacts-list */
.contact {
    height: var(--row-main-height);
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}

span.name-contact {
    font-weight: bold;
}

.contact-selected {
    background-color: #e9ebeb;
}



/* MAIN RIGHT   */
#main-right {
    width: calc(100% - var(--main-left-width));
    height: 100%;
    min-width: var(--main-left-width);
    display: flex;
    flex-direction: column;
}

#main-right header{
    width: 100%;
    height: var(--row-main-height);
}

#chat{
    width: 100%;
    height: calc(100% - var(--row-main-height) - var(--row-write-message));
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}



/* chat */
.chat-message {
    border-radius: 9px;
    min-width: 250px;
    max-width: 65%;
}

.message-sent {
    background-color: #d5f9ba;
}

.message-received {
    background-color: #ffffff;
}

/* new message */

#new-message{
    width: 100%;
    height: var(--row-write-message);
}
#user-message {
    width: 80%;
    height: 60%;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
}